<div class="booyah-box col-10 offset-1">
  <div class = "row">
    <div class = "col-12 col-sm-2">
      <%= image_tag 'user.png', class: 'image-fluid' %>
    </div>

    <div class = "col-12 col-sm-10">
      <h1><%= @user.email %></h1>
      <h6 class = "text-muted">Member since <%= @user.created_at.strftime("%B, %Y") %></h6>
      <h4><b><%= @user.comments.count %></b> total comments</h4>
      <h4><b><%= @user.comments.where(rating: '5_stars').count %></b> total 5 star reviews</h4>
    </div>
  </div>
  <div class = "clear"></div>
</div>

<br />

<div class = "booyah-box col-10 offset-1">
  <h1 class = "text-center margin-top-10">My comments</h1>
  <br />
  <div class = "row">
    <% @user.comments.each do |comment| %>
    <div class = "col-12 col-sm-6">
      <div class="card text-center">
        <div class="card-header">
          <!-- This is where comment.place.name should be, but doesn't currently work -->
          <b><%= link_to comment.place.name, place_path(comment.place) %></b>
        </div>
        <div class="card-block">
          <p class="card-text text-muted">"<%= comment.message %>"</p>
        </div>
        <div class="card-footer gold-text">
          <b><%= comment.rating %></b> stars
        </div>
      </div>
      <br />
    </div>
    <% end %>
  </div>
</div>

<br />

<div class = "booyah-box col-10 offset-1">
  <h1 class = "text-center margin-top-10">My places</h1>
  <br />
  <div class = "row">
    <% @user.places.each do |place| %>
    <div class = "col-12 col-sm-6">
      <div class = "card text-center">
        <div class = "card-header">
          <b><%= link_to place.name, place_path(place) %></b>
        </div>
        <div class = "card-block">
          <p class = "card-text text-muted">
          <% if place.comments.count == 1 %>
          <%= place.comments.count %> comment
          <% else %>
          <%= place.comments.count %> comments
          <% end %>
          </p>
        </div>
      </div>
      <br />
    </div>
    <% end %>
  </div>
</div>