<div class = "row col-10 offset-1">
  <% @places.each do |place| %>
  <div class = "col-md-6">
  <div class = "card card-1">
    <img class = "card-img-top" src = "http://via.placeholder.com/220x150" alt = "...">
    <div class = "card-block">
    <h4 class = "card-title"><%= place.name %></h4>
    <h6 class = "card-subtitle text-muted"><%= place.address %></h6>
    <br />
    <p class = "card-text"><%= place.description %></p>
    </div>
    <div class = "card-footer">
      <small class = "text-muted">    
        <% if place.user.present? %>
          Submitted by: <%= place.user.email %>
        <% else %>
          Unknown user
        <% end %>
      </small>

    </div>
  </div>
  <br />
  </div>
  <br />
  <% end %>
</div>

<%= will_paginate @places, class: 'apple_pagination' %>