<div class = "booyah-box col-10 offset-1">
  <div class = "row">
    <h1 class = "h1-inline col-12 col-lg-6"><%= @place.name %></h1>

    <!-- This is something that needs moving to the model, but don't know how to do that yet -->

    <% rating_integers = [] %>
    <% @place.comments.each do |c| %>
    <% rating_integers << c.rating.to_i %>
    <% end %>
    <% if @place.comments.present? %>
    <div class = "h1-inline gold-text col-6 col-lg-3 margin-top-10">
    <h3><b><%= (rating_integers.sum.to_f / rating_integers.length).round(2) %></b> stars <small>(<%= rating_integers.length %>)</small></h3></div>
    <% end %>


      
      <!-- Buttons for edit and delete visible only to user who created them -->
      <div class = "pull-right margin-top-10 col-12 col-lg-3 text-align-right">
      <% if current_user == @place.user %>
          <%= link_to edit_place_path, class: 'btn btn-secondary' do %>
            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
          <% end %>
          <%= link_to place_path(@place), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} do %>
            <i class="fa fa-trash" aria-hidden="true"></i> Delete
          <% end %>
  </div>
    </div>
    <% end %>

      <br class = "clear"/>
      <i><%= @place.address %></i>
      <br/>
    <!-- Google maps -->
    <% if @place.latitude.present? && @place.longitude.present? %>

    <script>

      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsGe2E7vEhPR9YfAZ522p0Qth7-H4enBM&callback=initMap">
    </script>

    <div id="map"></div>

    <% end %>

    <!-- Address and description -->

    <br class = "clear"/>
    <p><%= @place.description %></p>
</div>

<br />

<div class = "booyah-box col-10 offset-1">
  <h3 class = "margin-top-10 h1-inline">Comments</h3>
  <button type="button" class="btn btn-primary float-right margin-top-10" data-toggle="modal" data-target="#myModal">+ Add a comment
  </button>
  <div class = "clear"></div>
  <br />
  <br />
  <div class = "row">
  <% @place.comments.each do |comment| %>
  <div class = "col-12 col-sm-6">

    <div class="card text-center">
      <div class="card-header gold-text">
        <b><%= comment.rating %> stars</b>
      </div>
      <div class="card-block">
        <p class="card-text text-muted">"<%= comment.message %>"</p>
      </div>
      <div class="card-footer text-muted">
        <%= comment.user.email %>
      </div>
    </div>
    <br />
  </div>
  <% end %>
  </div>  
  </div>
  <br />
</div>
<br />
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
      </div>
      <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
          <%= f.input :rating, collection: 1..5 %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary col-2" data-dismiss="modal">x</button>
          <%= f.submit "Add comment", class: 'btn btn-primary col-10' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<br />